.btn {
  border-radius: 45px;
  border: 0;
  padding: 4px 20px;
  color: white;
  margin-left: 10px;
}

.btn-primary {
  background-color: #378972;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #49b194;
}

.btn-primarybig {
  background-color: #378972;
  width: 60%;
  height: 2.625rem;
  cursor: pointer;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  transition: 0.3s;
}

.btn-primarybig:hover {
  background-color: #49b194;
}

.btn-secondary {
  border: 1.5px solid #378972;
  background-color: white;
  color: #378972;
  cursor: pointer;
  width: 198px;
  height: 45px;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #378972;
  color: white;
}
.btn-secondarylearn:hover {
  background-color: #378972;
  color: white;
}

.btn-secondarylearn {
  border: 1.5px solid #378972;
  background-color: white;
  color: #378972;
  cursor: pointer;
  width: 300px;
  height: 45px;
  transition: 0.3s;
}
