.btn {
    border-radius: 19px;
    border: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    margin-left: 10px;
}

.btn-primary {
    background-color: #378972;
    cursor: pointer;
}

.btn-secondary {
    border: 1.5px solid #378972;
    background-color: white;
    color: #378972;

    cursor: pointer;
}
