.btn {
  border-radius: 19px;
  border: 0;
  padding: 4px 20px;
  color: white;
  margin-left: 10px;
}

.btn-primary {
  background-color: #378972;
  cursor: pointer;
}

.btn-secondary {
  border: 1.5px solid #378972;
  background-color: white;
  color: #378972;
  cursor: pointer;
}
