.home-container {
  margin: 5%;
  display: flex;
}

#home-title {
  font-size: 4vh;
  text-align: justify;
}

.email-container {
  display: flex;
  background: #f3f3f3;
  box-shadow: 0px 58px 45px -42px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 4%;
  width: auto;
  align-content: center;
  justify-content: center;
  padding: 2%;
}

.email-icon {
  margin-right: 1rem;
}

.left-side {
  margin-top: 3%;
  width: 30%;
}

.right-side {
  margin-left: 45%;
}

@media screen and (max-width: 640px) {
  .left-side {
    width: 100%;
  }
  .home-container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
  }
  .right-side {
    margin-left: 0;
  }
  #doctor-img-home {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  #doctor-info-home {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.emailbox {
  width: 542px;
  height: 108px;
}
body {
  margin: 0%;
}

.elipse {
  position: absolute;
  width: 55px;
  height: 55px;
  background: #378972;
}

#box-homepage {
  background: #f3f3f3;
  box-shadow: 0px 48px 45px -42px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
#homeparagraf {
  width: 34.5rem;
  text-align: justify;
}

#homepage-container {
  margin-left: 15%;
}

.scrollbutton {
  padding-right: 5%;
  padding-left: 5%;
}

.vagina-button {
  margin-left: -5%;
}

.text {
  width: 150px;
}

.text-primary-color {
  color: #378972;
}

.text-secundary-color {
  color: #1e1e1e;
}

.horizontal-line-color {
  color: #acacac;
}

.fotodoctor {
  width: 85%;
  height: 45%;
}

@media (min-width: 1850px) {
  .margin-text {
    margin-left: 75px;
  }
}

@media (min-width: 2450px) {
  .margin-text {
    margin-left: 145px;
  }
}
