* {
  opacity: 10;
}

#logoytitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logoytitulo > h1 {
  font-size: 22px;
  font-weight: lighter;
}

.dropdown-contact {
  text-align: center;
  margin-top: 2%;
  color: #378972;
  position: absolute;
  left: 62%;
  background-color: white;
  padding-bottom: 1%;
  border-radius: 7px;
  padding-right: 1%;
  padding-left: 1%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-contact > ul > li {
  margin-bottom: 6%;
}

#phone {
  margin-left: 10%;
}

#first-numer {
  display: flex;
  align-items: center;
}

#second-numer {
  display: flex;
  align-items: center;
}

.dropdown-contact > img {
  margin-bottom: 6%;
}

#mapline {
  margin-left: 10%;
}

.dropdown-contact > h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 6%;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-links {
  text-decoration: underline white 2.5px;
  text-underline-offset: 8px;
  transition: 0.7s;
}
.navbar-links:hover {
  text-decoration: underline #7ac5c8 2.5px;
  text-underline-offset: 8px;
}

.modal-title-text {
  font-size: 2rem;
  font-weight: bold;
  color: #378972;
  text-align: center;
}

.phone-number {
  font-size: 1rem;
  color: #378972;
}
