.dropdown {
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 85%;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
